<div class="container-fluid" style="padding: 0;">
  <h1 class="title-attractions">Atracciones</h1>
  <img src="../../../assets/img/slide_one.jpg"  class="img-fluid attraction-banner" alt="...">
</div>
<div class="container-fluid mt-5">
  <div class="container mb-5 d-flex justify-content-between py-4" style="height: fit-content;">
    <div style="width: 45%;">
      <h3 class="mb-5">Visita Nuestro Cafetal</h3>
      <p class="" style="text-align: justify;">
        A una altura de 1800 m.s.n.m, en medio de los bosques mas
        lindos de Oxapampa, podrás conocer nuestras plantaciones
        de café en las distintas variedades y calidades,
        conocer la planta de tratamiento de café y lo mejor de
        todo DEGUSTARLO!!!!!!. No pierdas esta oportunidad única,
         de conocer un poco mas de una de las bebidas mas
         famosas del mundo!!!!!
      </p>
    </div>
    <div style="width: 45%;">
      <div class="row row-cols-2">
        <div class="col image-grid mb-4"><img src="../../../assets/img/atracciones/cafe1.jpg" alt=""></div>
        <div class="col image-grid" ><img src="../../../assets/img/atracciones/cafe2.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/atracciones/cafe3.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/atracciones/cafe4.jpg" alt=""></div>
      </div>
    </div>
  </div>
  <div class="container-fluid"  style="height: fit-content; background-color: rgba(89, 89, 89, 0.04); padding: 0;">
    <div class="mb-5 container d-flex justify-content-between py-4" style="height: fit-content;">
      <div style="width: 45%;">
        <div class="row row-cols-2">
          <div class="col image-grid mb-4"><img src="../../../assets/img/atracciones/gallito1.jpg" alt=""></div>
          <div class="col image-grid" ><img src="../../../assets/img/atracciones/catarata1.jpg" alt=""></div>
          <div class="col image-grid"><img src="../../../assets/img/atracciones/parque1.jpg" alt=""></div>
          <div class="col image-grid"><img src="../../../assets/img/atracciones/rio1.jpg" alt=""></div>
        </div>
      </div>
      <div style="width: 45%;">
        <h3 class="mb-5">Pozuzo</h3>
        <p class="" style="text-align: justify;">
          Haremos un breve city tour visitando: La Iglesia Sagrado Corazón de Jesús, La Plaza de Armas, El Cementerio de
          Los Colonos, El Museo Schafferer, El Puente Colgante Emperador Guillermo,
           desde donde realizaremos una breve caminata de 15 minutos aproximadamente
           por un hermoso sendero para llegar a un mirador donde apreciaremos la hermosa vista
           de la ciudad de Pozuzo.
        </p>
      </div>
    </div>
  </div>

  <div class="container mb-5 d-flex justify-content-between py-4" style="height: fit-content;">
    <div style="width: 45%;">
      <h3 class="mb-5">OXAPAMPA Y CHONTABAMBA</h3>
      <p class="" style="text-align: justify;">
      <br>
        <strong> PROCESADORA DE LÁCTEOS FLORALP</strong> <br>
        Observaremos sus instalaciones y degustaremos los deliciosos derivados lácteos.
      </p>
      <p class="" style="text-align: justify;">
        <br>
          <strong> TUNQUI CUEVA</strong> <br>
          Lugar que pone el toque de aventura y misticismo al recorrido, ahí podremos observar las
          caprichosas formaciones de estalactitas, estalagmitas y diversas figuras que pondrán a trabajar nuestra imaginación.
        </p>

    </div>
    <div style="width: 45%;">
      <div class="row row-cols-2">
        <div class="col image-grid mb-4"><img src="../../../assets/img/atracciones/iglesia1.jpg" alt=""></div>
        <div class="col image-grid" ><img src="../../../assets/img/atracciones/cueva1.jpg"alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/atracciones/vista1.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
