<div class="container-fluid" style="padding: 0;">
  <h1 class="title-attractions">Atracciones</h1>
  <img src="../../../assets/img/slide_one.jpg"  class="img-fluid attraction-banner" alt="...">
</div>
<div class="container-fluid mt-5">
  <div class="container mb-5 d-flex justify-content-between py-4" style="height: fit-content;">
    <div style="width: 45%;">
      <h3 class="mb-5">Visita Nuestro Cafetal</h3>
      <p class="" style="text-align: justify;">
        A una altura de 1800 m.s.n.m, en medio de los bosques mas
        lindos de Oxapampa, podrás conocer nuestras plantaciones
        de café en las distintas variedades y calidades,
        conocer la planta de tratamiento de café y lo mejor de
        todo DEGUSTARLO!!!!!!. No pierdas esta oportunidad única,
         de conocer un poco mas de una de las bebidas mas
         famosas del mundo!!!!!
      </p>
    </div>
    <div style="width: 45%;">
      <div class="row row-cols-2">
        <div class="col image-grid mb-4"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        <div class="col image-grid" ><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
      </div>
    </div>
  </div>
  <div class="container-fluid"  style="height: fit-content; background-color: rgba(89, 89, 89, 0.04); padding: 0;">
    <div class="mb-5 container d-flex justify-content-between py-4" style="height: fit-content;">
      <div style="width: 45%;">
        <div class="row row-cols-2">
          <div class="col image-grid mb-4"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
          <div class="col image-grid" ><img src="../../../assets/img/slide_one.jpg" alt=""></div>
          <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
          <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        </div>
      </div>
      <div style="width: 45%;">
        <h3 class="mb-5">Visita Nuestro Cafetal</h3>
        <p class="" style="text-align: justify;">
          A una altura de 1800 m.s.n.m, en medio de los bosques mas
          lindos de Oxapampa, podrás conocer nuestras plantaciones
          de café en las distintas variedades y calidades,
          conocer la planta de tratamiento de café y lo mejor de
          todo DEGUSTARLO!!!!!!. No pierdas esta oportunidad única,
           de conocer un poco mas de una de las bebidas mas
           famosas del mundo!!!!!
        </p>
      </div>
    </div>
  </div>

  <div class="container mb-5 d-flex justify-content-between py-4" style="height: fit-content;">
    <div style="width: 45%;">
      <h3 class="mb-5">Visita Nuestro Cafetal</h3>
      <p class="" style="text-align: justify;">
        A una altura de 1800 m.s.n.m, en medio de los bosques mas
        lindos de Oxapampa, podrás conocer nuestras plantaciones
        de café en las distintas variedades y calidades,
        conocer la planta de tratamiento de café y lo mejor de
        todo DEGUSTARLO!!!!!!. No pierdas esta oportunidad única,
         de conocer un poco mas de una de las bebidas mas
         famosas del mundo!!!!!
      </p>
    </div>
    <div style="width: 45%;">
      <div class="row row-cols-2">
        <div class="col image-grid mb-4"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        <div class="col image-grid" ><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
        <div class="col image-grid"><img src="../../../assets/img/slide_one.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
