<div class="container-fluid" style="padding: 0;">
    <h1 class="title-rooms">Habitaciones</h1>
    <img src="../../../assets/img/slide_one.jpg"  class="img-fluid room-banner" alt="...">
</div>

<section class="container-fluid p-0 pt-4 pb-4">
    <div class="container mt-5">
        <p class="text-center text-muted fw-bold">Nuestras habitaciones estrellas, se el primero en separarlas</p>
        <div class="container pt-4 pb-4 d-flex justify-content-between">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="card">
                <img src="../../../assets/img/room-one.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Habitación Singular</h5>
                  <p class="card-text">Habitación simple para 1 o 2 personas con ventilación y gran confort Precio:S/.150.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card">
                <img src="../../../assets/img/room-two.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Habitación doble</h5>
                  <p class="card-text">Habitacion para 2 o mas personas para un descanso en vacaciones Precio:S/.300.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card">
                <img src="../../../assets/img/room-trhee.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Habitación Familiar</h5>
                  <p class="card-text">Contamos con habitación amplia con vista a áreas verdes con gran descanso para ti y tu familia Precio:S/.500.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card">
                <img src="../../../assets/img/room-four.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Habitación Real</h5>
                  <p class="card-text">Si quieres trabajar o realizar homeoffice es la habitación perfecta Precio:S/.350.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</section>