<div class="container-fluid" style="padding: 0;">
    <h1 class="title-rooms">Habitaciones</h1>
    <img src="../../../assets/img/slide_one.jpg"  class="img-fluid room-banner" alt="...">
</div>

<section class="container-fluid p-0 pt-4 pb-4">
    <div class="container mt-5">
        <p class="text-center text-muted fw-bold">Nuestras habitaciones estrellas, se el primero en separarlas</p>
        <div class="container pt-4 pb-4 d-flex justify-content-between">
          <div class="row">
            <div class="col-sm-6 mb-3" *ngFor="let habitacion of habitaciones">
              <div class="card">
                <img src="{{habitacion.image}}" style="height: 350px;" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">{{habitacion.tiponombre}}</h5>
                  <p class="card-text">Hermosa Habitación ideal para {{habitacion.personas}}.</p>
                  <a class="btn btn-secondary btn-lg" disabled>S/.{{habitacion.precio}}</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>

</section>
