@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  padding: 5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f5f5f5;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

.navbar {
  grid-area: navbar;
  background-color: #f5f5f5;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar"  auto
    "main"    auto
    "sidebar" auto
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
    "sidebar main"
    "footer  footer"; */

    grid-template:
      /* "header  header" 100px */
      ".       navbar" auto 
      "sidebar main"   auto / 
      30%      auto;
  }
}

/* @media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto /
      200px    auto   200px;
  }
} */

/* estilos anteriores */

/* .container-reserva {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(3, 750px);
  font-size: 5rem;
}

.container-reserva div {
  color: white;
  padding: 1rem;
} */

.wrapper-reserva {
  width: 20px;
  height: 50px;
  display: flex;
  flex-direction: left;
  justify-content: left;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
}

.rcorners1-reserva {
  border-radius: 25px;
  border: 2px solid #878d80;
  padding: 5px;
  width: auto;
  height: auto;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid #878d80;
  padding: 20px;
  width: auto;
  height: auto;
}

.text-reserva {
  margin: 10px;
  font-size: xx-large;
  color: #343534;
}

.name-habitacion {
  font-size: xx-large;
  font-style: italic;
  color: #343534;
}

.cantidad-habitacion {
  font-size: xx-small;
  font-style: italic;
  color: #343534;
}

.precio-habitacion {
  font-size: xx-large;
  padding: 0%;
  color: #343534;
}

.numero-habitacion {
  justify-content: right;
}

.column-reserva {
  text-align: center;
  /* float: left; */
  /* width: 50%;
  padding: 0px; */
}

.column-menu {
  width: auto;
  height: auto;
  min-height: 200px;
  padding: 0px;
}

.row-reserva {
  width: auto;
}

.row-reserva:after {
  content: "";
  display: table;
  clear: both;
}

.button-eliminar {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto,
    "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-size: x-large;
  font-weight: 700;
  justify-content: center;
  line-height: 5px;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-eliminar:active,
.button-eliminar:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px inset;
  outline: 0;
}

.button-eliminar:hover {
  border-bottom-style: none;
  border-color: #dadada;
}

.button-reservar {
  background: #16c71f;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto,
    "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-size: x-large;
  font-weight: 700;
  justify-content: center;
  line-height: 5px;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  padding:10px;
  width: 100%;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}