<div class="container-fluid" style="padding: 0; background-color: rgba(52, 53, 52, 0.432);">
  <div class="d-flex flex-column flex-md-row align-items-center pt-3 pb-3 mb-4 border-bottom container fixed-top" style="background-color: rgba(52, 53, 52, 0.432);">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <img src="https://icongr.am/fontawesome/first-order.svg?size=128&color=ffffff" width="40" height="32" alt="icon-hotel">
      <span class="fs-4">Hotel</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto nav-items-menu">
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" routerLink="attractions">Atracciones</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" href="#">Galería</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" routerLink="contactus">Contáctanos</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" [routerLink]="['about-us']">Sobre nosotros</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" href="#">Habitaciones</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" routerLink="package-list">Paquetes</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" routerLink="reserva">Reservas</a>
      <a class="fw-bold me-3 py-2 text-white text-decoration-none" routerLink="register">Registrarse</a>
      <a class="fw-bold py-2 text-white text-decoration-none" href="#">Ingresar</a>
    </nav>
  </div>
  </div>
 
  <section style="min-height: 650px; padding-top: 0px; padding-bottom: 0px;">
    <router-outlet>
    </router-outlet>
  </section>

