<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MyWeb</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css"> 
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css"> 
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Map-Clean.css"> 
</head>

<body id="page-top">
    <!-- <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="opacity: 1;background-color: rgba(52,58,64,0.75);">
        <div class="container"><a class="navbar-brand" href="#page-top" style="color: rgb(255,165,85);">J&amp;J</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/" style="color: rgb(255,165,85);">PROYECTOS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio" style="color: rgb(255,165,85);">Portfolio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about" style="color: rgb(255,165,85);">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#team" style="color: rgb(255,165,85);">Team</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact" style="color: rgb(255,165,85);">Contact</a></li>
                </ul><a class="btn btn-primary text-black-50 border-dark" role="button" href="#" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);">Acceder</a></div>
        </div>
    </nav> -->
    <div class="login-dark" style="background-image: url(&quot;assets/img/backgrounds/recepcion-hotel.jpg&quot;);"> 
        <form [formGroup]="registerForm" method="post" style="background-color: rgba(255,255,255,0.9);">
            <h2 class="text-center" style="color: #23a2b3;font-size: 26px; margin-bottom:20px;">Registrar<br>Usuario</h2>
            <div class="form-group"><input class="form-control" type="text" formControlName="email" name="email" placeholder="Email" autocomplete="off" style="color: rgb(0,0,0);"><small class="form-text text-danger d-none">Ingresar un email válido</small></div>
            <div class="form-group"><input class="form-control" type="password" formControlName="contrasena" name="contrasena" placeholder="Contraseña" autocomplete="off" style="color: rgb(0,0,0);"><small class="form-text text-danger d-none">Ingresar una contraseña</small></div>
            <div class="form-group"><input class="form-control" type="text" formControlName="apellidos" name="apellidos" placeholder="Apellidos" autocomplete="off" style="color: rgb(0,0,0);"><small class="form-text text-danger d-none">Ingresar apellidos</small></div>
            <div class="form-group"><input class="form-control" type="text" formControlName="nombres" name="nombres" placeholder="Nombres" autocomplete="off" style="color: rgb(0,0,0);"><small class="form-text text-danger d-none">Ingresar nombres</small></div>  
            <div class="form-group"><input class="form-control" type="text" formControlName="dni" name="dni" placeholder="DNI" autocomplete="off" style="color: rgb(0,0,0);"><small class="form-text text-danger d-none">Ingresar un DNI válido</small></div>
            <div class="form-group"><Li><label for="datospersonales" style="color: rgb(0,0,0);font-size:x-small;"><input class="checkbox" type="checkbox" formControlName="datospersonales" name="datospersonales" autocomplete="off" style="color: rgb(0,0,0);"> Acepto las políticas de datos personales</label></Li><small class="form-text text-danger d-none">!</small></div>
                
            <div class="form-group text-center"><button class="btn btn-primary" type="submit" style="background-color: #23a2b3;font-weight: normal;">Registrar</button></div>
    </form>
    </div>
   <!--  <div class="footer-dark" style="padding: 0px;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/" target="_blank"><i class="icon ion-social-linkedin"></i></a></div>
                </div>
                <p class="copyright">J&amp;J © 2021</p>
            </div>
        </footer>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/agency.js"></script>
</body>

</html>