<br>
<section class="container-fluid p-0 pt-4 pb-4">
    <div class="container mt-5">
        <h2 class="text-center">Sobre Nosotros</h2>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="card">
                <img src="../../../assets/img/habitaciones/doble1.jpg"  style="height: 300px;" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div>
                <div class="card-body">
                  <p class="card-text">"Cemayu Hotel es un elegante y moderno hotel de lujo, está ubicado en el corazón de Oxapampa, dentro del principal centro de negocios de la selva peruana, en el área más segura de la ciudad. A una corta distancia a pie de tiendas, restaurantes y clubes nocturnos exclusivos, el hotel está ubicado muy cerca de las atracciones principales de Oxapampa, así como a tan solo 4 horas del Aeropuerto de Jauja. El hotel forma pala selva peruana de Accor Hotels. Conviértase en miembro de ALL – Accor Live Limitless (Accor, vivir sin límites) para obtener puntos cada vez que se aloje en uno de los hoteles de la corporación y disfrute de beneficios exclusivos."</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                  <img src="../../../assets/img/habitaciones/matri1.jpg" alt="user">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="../../../assets/img/habitaciones/suite.jpg" style="height: 300px;" alt="user">
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/img/room-one.jpg"  style="height: 300px;" alt="user">
                </div>
              </div>
          </div>
        </div>
    </div>
</section>
